/* Normal Mod */
*
{
    margin: 0px;
}
:root
{
    --title-color: rgb(255, 255, 255);
    --accent-color: #ffa32b;
    --background-color: #fff;
    --navigationbar-color: #0a111b3a;
    --footer-color: linear-gradient(180deg, #000000 0%, #121113 100%);
}
body
{
    overflow-x: hidden;
    overflow-y: auto;
    background : white;
    height: auto;
}
.section
{
    position: relative;
    width: 100%;
    height: 92vh;
    background-color: white;
    border-bottom: #121113;
}
.section a
{
    opacity: 0;
}

/* Navigation Bar  */
.navigationbar
{
    margin-bottom: 5px;
    width: 100%;
    position: fixed;
    height: 8vh;
    background-color: #0a111b3a;
    border-bottom: none;
    box-shadow: 0 4px 25px rgba(14, 36, 49, 0.11);
    z-index: 1;
}
.navigationbar .brand
{
    position: relative;
    top: calc(100% - 90%);
    left: 40px;
    width: 260px;
    height: 45px;
    font-size: 25px;
    gap: 5px;
    font-weight: 600;
    color: var(--title-color);
}
.navigationbar .brand img
{
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 45px;
    height: 45px;
}
.navigationbar .Links
{
    position: relative;
    left: calc(100% - 24%);
    top: calc(100% - 151%);
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 20px;
}
.navigationbar .Links a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.navigationbar .Links li
{
    position: relative;
}
.navigationbar .Links li:hover a
{
    transition: 0.5s;
    color: var(--accent-color);
}
.navigationbar .Links li .active
{
    position: relative;
    color: var(--accent-color);
}
/* Sections */
.first
{
    position: relative;
    /* left: 0px; */
    top: 8vh;
    height: 100vh;
}
.first .image
{
    position: absolute;
    height: 100vh;
    width: 50%;
    left: 50%;
    background-color: rgb(247, 0, 255);
}
.first .image .images
{
    position: absolute;
    width: 593px;
    height: 575px;
    left: 100px;
    top: 92px;
    background-color: aqua;
}
.first .header
{
    height: 100vh;
    width: 50%;
}
.first .header .text
{
    position: absolute;
    width: 475px;
    height: 386px;
    left: 165px;
    top: 117px;
    background-color: blue;
}
/* Footer */
.footer
{
    position: relative;
    left: -20px;
    width: calc(100% + 40px);
    height: 60vh;
    background-image: var(--footer-color);
    border-bottom: none;
}
/* Media Querys
Media Query 